@using MvcFrontEnd.BusinessObjects
@model ContactBOL

<div class="bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12 form-group">
                <h3 class="title-footer">
                    Liên hệ
                </h3>
                <p>
                </p><ul style="box-sizing: border-box; padding: 0px; list-style: none; margin-top: 0px; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; margin-right: 0px !important; margin-left: 0px !important;">
                    <li style="box-sizing: border-box;">Điện thoại: @Model.Phone - Hotline: @Model.Phone</li>
                    <li style="box-sizing: border-box;">Địa chỉ: @Model.Address_VN</li>
                </ul><p></p>


                <a href="#">
                    <img src="~/Images/face.png">
                </a>


                <a href="#">
                    <img src="~/Images/youtube.png">
                </a>


            </div>
        </div>
    </div>
