<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbConnectionString" connectionString="Server=.\SQLExpress; Database=CompanyDB; User Id=sa; Password=123456; Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>