<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="Viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fast Deploy - Admin</title>

    <link href="libs/font-awesome/css/all.min.css" rel="stylesheet" />

    <link href="libs/dripicons/webfont.min.css" rel="stylesheet" />
    <link href="libs/boxicons/css/boxicons.min.css" rel="stylesheet" />

    <link href="libs/foundation/css/foundation.min.css" rel="stylesheet" />
    <link href="libs/foundation/css/foundation-prototype.min.css" rel="stylesheet" />
    <link href="libs/foundation/css/foundation-float.min.css" rel="stylesheet" />
    <!-- <link href="libs/foundation/css/foundation-rtl.min.css" rel="stylesheet" /> -->

    <link href="libs/summernote/summernote-lite.min.css" rel="stylesheet"/>

    <link href="css/fd-dashboard.min.css" rel="stylesheet" />

    <script src="libs/jquery/jquery.min.js"></script>
</head>

<body>
    <div class="off-canvas-wrapper">
        <div id="leftSideBar" class="left-side-bar">
            <div class="left-side-bar--logo">
                <img src="images/logo.png" />
                <h4>
                    Fast Deploy
                </h4>
            </div>
            <!-- <ul class="vertical menu accordion-menu left-side-bar--menu" data-accordion-menu> -->
            <ul class="vertical menu left-side-bar--menu">
                <li class="menu-item">
                    <a href="dashboard.html">
                        <i class="fa fa-house-user"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a>
                        <i class="fa-solid fa-user"></i>
                        <span>Users</span>
                    </a>
                    <ul class="left-side-bar--submenu">
                        <li>
                            <a href="users-list.html">
                                <i class='bx bx-list-ul'></i>
                                <span>All Users</span>
                            </a>
                        </li>
                        <li>
                            <a href="add-user.html">
                                <i class='bx bx-list-plus'></i>
                                <span>New User</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item" expand-sub-menu="true">
                    <a class="active">
                        <i class="fa-solid fa-file-pen"></i>
                        <span>Posts</span>
                    </a>
                    <ul class="left-side-bar--submenu" style="display: none;">
                        <li>
                            <a href="posts.html">
                                <i class='bx bx-list-ul'></i>
                                <span>All Posts</span>
                            </a>
                        </li>
                        <li>
                            <a href="new-post.html" class="active">
                                <i class='bx bx-list-plus'></i>
                                <span>New Post</span>
                            </a>
                        </li>
                        <li>
                            <a href="post-categories.html">
                                <i class='bx bx-folder' ></i>
                                <span>Categories</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a>
                        <i class="fa-solid fa-cubes"></i>
                        <span>Products</span>
                    </a>
                    <ul class="left-side-bar--submenu">
                        <li>
                            <a href="products.html">
                                <i class='bx bx-list-ul'></i>
                                <span>All Products</span>
                            </a>
                        </li>
                        <li>
                            <a href="add-product.html">
                                <i class='bx bx-list-plus'></i>
                                <span>New Product</span>
                            </a>
                        </li>
                        <li>
                            <a href="product-categories.html">
                                <i class='bx bx-folder' ></i>
                                <span>Categories</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="off-canvas-content dashboard-content" data-off-canvas-content>
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a id="toggleLeftSideBar">
                                <i class="bx bx-menu"></i>
                            </a>
                        </li>
                        <li class="top-bar--search-box">
                            <i class='bx bx-search'></i>
                            <input type="search" placeholder="Search" />
                        </li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="dropdown menu user-profile" data-dropdown-menu>
                        <li>
                            <a>
                                <i class="fa-regular fa-envelope"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa-regular fa-bell"></i>
                            </a>
                        </li>
                        <li>
                            <a class="user-profile--button">
                                <img src="images/account.png" />
                                <!-- <span>
                                        Hi, Hien Tu Ngoc
                                        <small>Administrator</small>
                                    </span>
                                    <i class="dripicons-chevron-down"></i> -->
                            </a>
                            <ul class="menu vertical submenu user-profile--menu">
                                <li>
                                    <a>
                                        <i class="bx bx-user-circle"></i>
                                        My Profile
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <i class='bx bxs-user-account'></i>
                                        Account
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <i class="bx bx-power-off"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <nav id="nav_page_info" aria-label="" role="navigation">
                <div class="grid-x">
                    <div class="cell medium-6">
                        <h4 class="page-title">New Post</h4>
                        <ul class="breadcrumbs">
                            <li>
                                <a href="dashboard.html">Home</a>
                            </li>
                            <li>New Post</li>
                        </ul>
                    </div>
                    <div class="cell medium-6 text-right">
                    </div>
                </div>
            </nav>

            <!--begin form post info-->
            <form>
                <div class="grid-x grid-padding-x grid-container">
                    <div class="large-8 medium-12 cell">
                        <div class="card">
                            <div class="card-section">
                                <div class="grid-x">
                                    <div class="cell">
                                        <label>Title</label>
                                        <input type="text"/>
                                    </div>
                                    <div class="cell">
                                        <label>Category</label>
                                        <select class="fd-select">
                                            <option class="selected disabled" value="">None</option>
                                        </select>
                                    </div>
                                    <div class="cell">
                                        <label>Tags</label>
                                        <div class="input-tokens-container">
                                            <input type="text" class="token-input" placeholder="Nhập dấu , hoặc Enter để thêm Tag"/>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <label>Description</label>
                                        <textarea rows="1"></textarea>
                                    </div>
                                    <div class="cell">
                                        <label>Content</label>
                                        <div id="toolbar-container"></div>
                                        <div id="ckePostContent" class="fd-editor"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-4 medium-12 cell">
                        <div class="card">
                            <div class="card-section">
                                <div class="grid-x">
                                    <div class="cell">
                                        <label>Thumbnail</label>
                                    </div>
                                    <div class="cell">
                                        <div class="upload-container">
                                            <div class="preview">
                                                <img class="img-preview" src="images/upload-images.png"/>
                                            </div>
                                            <input type="file" class="file-upload" style="display: none;" id="fileUploadMedia" onchange="userChoosedAvatar(event)"/>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <label>Status</label>
                                        <select class="fd-select">
                                            <option value="Publish" class="selected">Publish</option>
                                            <option value="Draft">Draft</option>
                                            <option value="Pending">Pending</option>
                                        </select>
                                        <!-- <div class="fd-select">
                                            <a href="#" class="fd-select--button" data-value="Published">Published</a>
                                            <ul id="ddCategoryStatus" class="fd-select--dropdown">
                                                <li data-value="Published" class="selected">Published</li>
                                                <li data-value="Private">Private</li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="medium-12 cell">
                        <input type="submit" class="button" value="Save"/>
                    </div>
                </div>
            </form>
            <!--end form post info-->
        </div>
    </div>

    <script src="libs/foundation/js/foundation.min.js"></script>
    <script src="libs/summernote/summernote-lite.min.js"></script>
    <script src="libs/fastdeploy/ts/dist/fastdeploy.min.js"></script>

    <script>
        $(document).foundation();

        $('#ckePostContent').summernote();

        FastDeploy.initialize();
    </script>
</body>

</html>