<!DOCTYPE html>
<html>
<head>
	<!--Foundation CSS CDN-->
	<link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
		crossorigin="anonymous">
	<!-- foundation-prototype.min.css: Compressed CSS with prototyping classes -->
	<link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation-prototype.min.css"
		crossorigin="anonymous">
	<!-- foundation-float.min.css: Compressed CSS with legacy Float Grid -->
	<link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation-float.min.css"
		crossorigin="anonymous">
	<title>Foundation CSS Flex Grid Column Alignment</title>
</head>
<body class="grid-x align-middle align-center"
	style="height: 95vh;
			width: 95vw;">
	<form>
        <h2 style="color:green">
            GeeksforGeeks
        </h2>
        <h4>
            Foundation CSS Inline labels and Buttons
        </h4>
        <div class="grid-x align-middle align-center">
            <div class="input-group grid-container">
                <input class="input-group-field"
                    type="number">
                <div class="input-group-label">₹</div>
            </div>
                <input type="submit"
                        class="button"
                        value="Submit">
            </div>
    </form>
</body>
</html>
