.form-logged-user
{
	display: block;
	top: 0;
	right: 0;
	margin: auto;
	height: 80px;
	position: absolute;
}

.logged-user-avatar
{
	width: 80px;
	height: 100%;
	margin-right: 5px;
	position: relative;
	float: left;
	display: block;
}

	.logged-user-avatar img
	{
		max-width: 80px;
		max-height: 80px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
	}

.logged-user-info
{
	height: 80px;
	display: block;
	position: relative;
	float: left;
}

.logged-user-name
{
	height: 35px;
	display: inline-block;
}

.logged-user-name label
{
	line-height: 35px;
}

.logged-user-info ul
{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	margin: 0;
}

	.logged-user-info ul li
	{
		margin-left: 0px;
	}

		.logged-user-info ul li a
		{
			margin-left: 0px;
			text-decoration: none;
		}
