
@{
    ViewBag.Title = "Liên Hệ";
}

<div class="contact">
    <div class="container">
        <div class="contact-agileinfo">
            <h2 class="agileits-title">Liên Hệ</h2>
        </div>
        <div class="agile-address">
            <div class="col-md-4 address-grids">
                <h4>Địa chỉ :</h4>
                <ul>
                    <li>
                        <p>
                            609/25, Lê Quang Định<br>
                            P1, Q.Gò Vấp<br>
                            TP Hồ Chí Minh
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 address-grids agileits">
                <h4>Điện thoại :</h4>
                <p><a href="tel:0964266679">0964 266 679</a></p>
            </div>
            <div class="col-md-4 address-grids">
                <h4>Email :</h4>
                <p><a href="mailto:example@email.com">group@daiquangminhsecurity.com</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="contact-agileinfom">
            <h4>12 NĂM LỊCH SỬ HÌNH THÀNH & PHÁT TRIỂN:</h4>
            <p>
                Công ty TNHH Dịch Vụ Bảo Vệ Quang Minh Việt Nam do sở kế hoạch và đầu tư TP.hcm cấp giấy phép kinh doanh ngày 06/10/2005 và cục cảnh sát quản lý hành chính và trật tự xã hội - bộ công an cấp giấy phép đủ điều kiện để kinh doanh dịch vụ bảo vệ ngày 26/10/2005.
                <br /><br />
                Cuối năm 2016 Công ty đã liên doanh cùng với đối tác là Tập Đoàn Đại Quang Minh và được Sở Kế hoạch và đầu tư Thành phố Hồ Chí Minh cấp giây phép kinh doanh số 0314097264 ngày 04/11/2016 và sở cảnh sát quản lý về hành chính và trật tự xã hội công an tp.hcm câp giấy chứng nhận đủ điều kiện để kinh doanh dịch vụ bảo vệ ngày 07/12/2016 với thương hiệu Công Ty TNHH Dịch Vụ Bảo Vệ Đại Quang Minh.
                <br /><br />
                Qua 12 năm xây dựng thương hiệu công ty đã phát triển được 05 Chi nhánh hoạt động trên toàn lãnh thổ việt nam và 01 Chi nhánh tại campuchia, với lực lượng gồm hơn 4.000 nhân viên tinh huệ được đào tạo bài bản, cùng sự hậu thuẫn mạnh mẽ về tài chính của tập đoàn Đại Quang Minh sẵn sàng hỗ trợ và đồng hành cùng quý khách hàng vượt qua mọi khó khăn.
                <br /><br />
                Với phương châm « CHẤT LƯỢNG LÀ DANH DỰ » Công ty TNHH dịch vụ bảo vệ Đại Quang Minh hy vọng sẽ được đóng góp nhiều hơn nữa cho sự phát triển bền vững của quý khách hàng trong tương lai và sự bình yên của toàn xã hội.
            </p>
        </div>
        <div class="contact-form agileits-w3layouts">
            <h4>Liên hệ với chúng tôi</h4>
            <form action="#" method="post">
                <input type="text" placeholder="Tên" required>
                <input type="email" placeholder="Email" required>
                <input type="text" placeholder="Số điện thoại" required>
                <textarea placeholder="Nội dung" required></textarea>
                <button class="btn1 btn-1 btn-1b w3-agile">Gửi</button>
            </form>
        </div>
    </div>
</div>
