<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tuyển Dụng Bảo Vệ</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="cong ty bao ve, dich vu bao ve, tuyen dung bao ve, công ty bảo vệ, dịch vụ bảo vệ, tuyển dụng bảo vệ" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Assets/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet"> 			<!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="~/Assets/js/jquery-1.11.1.min.js"> </script>
    <script src="~/Assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.easyPaginate.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });


        });
    </script>
    <script src="~/Assets/js/menu_jquery.js"></script> <!-- pop-up -->
    <!-- //js -->

    <style>
    </style>
</head>

<body>
    @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>*@
    <script type="text/javascript">
        //$(document).ready(function () {
        //    initializeMyMap();
        //});

        //function initializeMyMap() {
        //    var chicago = new google.maps.LatLng(0, 0);

        //    var myOptions = {
        //        zoom: 1,
        //        center: chicago,
        //        mapTypeId: google.maps.MapTypeId.ROADMAP
        //    }

        //    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        //}
    </script>

    <div class="header-top">
        <!-- container -->
        <div class="container">
            <div class="social w3-agileitsicons">
                <ul>
                    <li><a href="#">609/25, Lê Quang Định, P1, Q.Gò Vấp, TP HCM</a></li>
                </ul>
            </div>
            <div class="w3layouts-details">
                <ul>
                    <li><a href="mailto:tuyendung@timvieclamsaigon.vn"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>tuyendung@timvieclamsaigon.vn</a></li>
                    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><a href="tel:0964 266 679">0964 266 679</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //header-top -->
    <!-- header -->
    <div class="header">
        <!-- container -->
        <div class="container">
            <div class="header-bottom">
                <div class="w3ls-logo">
                    <h1><a href="index.html"><img src="~/Assets/images/logo.png"></a></h1>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="top-nav">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            Menu
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="home-icon"><a href="~/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                            <li><a id="trang-chu" href="~/">Trang Chủ</a></li>
                            <li><a id="tuyen-dung" href="~/tuyen-dung">Tuyển Dụng</a></li>
                            <li><a href="#">Nhà Tuyển Dụng</a></li>
                            <li><a id="viec-lam-theo-quan" href="~/viec-lam-theo-quan">Việc Làm Theo Quận</a></li>
                            <li><a id="tin-tuc" href="~/tin-tuc">Tin Tức</a></li>
                            <li><a id="lien-he" href="~/lien-he">Liên Hệ</a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //container -->
    </div>

    @RenderBody()

    <!-- slider -->
    <div class="slider">
        <div class="arrival-grids wthree-grids">
            <ul id="flexiselDemo1">
                <li>
                    <a href="#">
                        <img src="~/Assets/images/s1.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Assets/images/s2.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Assets/images/daiquangminh.png" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Assets/images/s3.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Assets/images/s4.jpg" alt="" />
                    </a>
                </li>
            </ul>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo1").flexisel({
                        visibleItems: 4,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });
                });
            </script>
            <script type="text/javascript" src="~/Assets/js/jquery.flexisel.js"></script>
        </div>
    </div>
    <!-- //slider -->
    <!-- footer -->
    <div class="footer agileits-w3layouts">
        <div class="container">
            <div class="footer-agileinfo">
                <div class="col-md-6 footer-right" style="display: none;">
                    <div id="map_canvas" class="google-maps">
                    </div>
                </div>
                <div class="text-center">
                    <div class="w3-agileitsicons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                            <li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
                            <li><a class="be" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> </a></li>
                        </ul>
                    </div>
                    <div class="copyright">
                        <p>© 2017 TimViecLamSaiGon .  All rights reserved.</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript" src="~/Assets/js/move-top.js"></script>
    <script type="text/javascript" src="~/Assets/js/easing.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

            $().UItoTop({ easingType: 'easeOutQuart' });

            var arr = window.location.pathname.split('/');
            if (arr && arr.length > 1) {
                var element = document.getElementById(arr[1])
                if (!element) {
                    element = document.getElementById("trang-chu");
                }

                if (!$(element).hasClass('active')) {
                    $(element).addClass('active');
                }
            }
        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
</body>
</html>